.course-banner{
    display: flex;
    flex-direction: column;
    max-width: 450px;
    padding: 20px;
    background-color: white;
    gap: 10px;
    border: 2px solid black;
    box-shadow: 2 px 2px 2px 2px greenyellow;
}